<a href="https://colab.research.google.com/github/goudaChees/MLstudy/blob/master/0626_preprocessing_train_AV3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Train_av3.csv 자료 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import pandas as pd
from io import StringIO

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/code/02.notebook/2. data_preprocessing/train_AV3.csv')

In [ ]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df.shape

(614, 13)

## null값이 있는지 확인한다. -각 컬럼별로 몇개의 널 값이 존재하는지 확인

In [ ]:
df.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## 해당 행 / 열을 삭제할지? 다른 값을 넣어줄지 판단!
## null 값이 존재하는 각 컬럼 별로 확인

- Gender

In [ ]:
df.Gender.unique() # 다행히 제 3의 성은 없고, 남성 여성 모른다 밖에 없다.

array(['Male', 'Female', nan], dtype=object)

In [ ]:
df.Gender.fillna(df.Gender.mode().values[0] , inplace = True) # fillna 를 통해 nan에 값을 채운다. 
# mode 값은 (빈값은 표본중에 제일 많은 것으로 합쳐진다. )
# inplace = True 는 무슨 의미일까? true 이면 fillna를 통해 원본을 변경 시켜주는 것이고
# inplace = False(Default) 일 때 작동은 같으나 변수에 담아서 사용할 카피본을 만들어주는 것(원본은 그대로 채운값을 리턴하는 방식)

In [ ]:
df.Gender.mode() #가장 많은 male로 nan이 바뀌었다.
#mode의 리턴값은 seiris

0    Male
dtype: object

In [ ]:
df.Gender.value_counts() # 13개의 값이 male로 합쳐진 모습

Male      502
Female    112
Name: Gender, dtype: int64

- Married

In [ ]:
# Married 채우기
df.Married.unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
#No, Yes, nan만 있으니 nan에 속하는 3명의 값을 많은 숫자가 속한곳으로 포함 시켜버린다.
df.Married.fillna(df.Married.mode().values[0], inplace = True)

In [ ]:
df.Married.mode()

0    Yes
dtype: object

In [ ]:
#Yes로 합쳐진 형태 이후 value_counts로총 갯수를 확인 해본다.
df.Married.value_counts()

Yes    401
No     213
Name: Married, dtype: int64

- Dependents

In [ ]:
df.Dependents.unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [ ]:
df.Dependents.fillna(df.Dependents.mode().values[0], inplace = True)

In [ ]:
df.Dependents.mode() # 0이 많아서 0으로 합쳐짐

0    0
dtype: object

In [ ]:
df.Dependents.value_counts()

0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64

- Self_Employed

In [ ]:
df.Self_Employed.unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
df.Self_Employed.fillna(df.Self_Employed.mode().values[0], inplace = True)

In [ ]:
df.Self_Employed.mode() #No로 32개가 합쳐짐

0    No
dtype: object

In [ ]:
df.Self_Employed.value_counts()

No     532
Yes     82
Name: Self_Employed, dtype: int64

- Numerical values >> mean() 으로 채운다.

In [ ]:
df.ApplicantIncome.dtype

dtype('int64')

In [ ]:
df.ApplicantIncome.value_counts()

2500    9
4583    6
6000    6
2600    6
3333    5
       ..
3244    1
4408    1
3917    1
3992    1
7583    1
Name: ApplicantIncome, Length: 505, dtype: int64

In [ ]:
df.ApplicantIncome.mean()

5403.459283387622

In [ ]:
round(df.ApplicantIncome.mean())
# int(df.ApplicantIncome.mean()) round / int 둘다 가능하며 소수점을 잘라내기 위한 방법

5403

In [ ]:
df.ApplicantIncome.fillna(round(df.ApplicantIncome.mean()), inplace = True)

In [ ]:
df.LoanAmount.dtype

dtype('float64')

In [ ]:
df.LoanAmount.value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [ ]:
df.LoanAmount.mean()

146.41216216216216

In [ ]:
df.LoanAmount.fillna(round(df.LoanAmount.mean()), inplace = True)

In [ ]:
df.Loan_Amount_Term.value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [ ]:
df.Loan_Amount_Term.mode()

0    360.0
dtype: float64

In [ ]:
df.Loan_Amount_Term.fillna(df.Loan_Amount_Term.mode().values[0], inplace = True)

In [ ]:
df.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [ ]:
df.Credit_History.fillna(df.Credit_History.mode().values[0], inplace = True)

In [ ]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
df.dtypes #우리가 알아볼 y값은 Loan_Status 라고 볼 수 있다. 보통 가장 끝에 있는 경우가 많다고 함

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
# loan_ID 값은 구분을 위한 것이기 때문에 삭제를 하는 편이 좋다
del df['Loan_ID']

In [ ]:
df.head()

## df2 로 label encoder 해보기

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/code/02.notebook/2. data_preprocessing/train_AV3.csv')

In [ ]:
df2.Gender.fillna(df2.Gender.mode().values[0] , inplace = True)
df2.Married.fillna(df2.Married.mode().values[0], inplace = True)
df2.Dependents.fillna(df2.Dependents.mode().values[0], inplace = True)
df2.Self_Employed.fillna(df2.Self_Employed.mode().values[0], inplace = True)
df2.ApplicantIncome.fillna(round(df2.ApplicantIncome.mean()), inplace = True)
df2.LoanAmount.fillna(round(df2.LoanAmount.mean()), inplace = True)
df2.Credit_History.fillna(df2.Credit_History.mode().values[0], inplace = True)
df2.Loan_Amount_Term.fillna(df2.Loan_Amount_Term.mode().values[0], inplace = True)

In [ ]:
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
del df2['Loan_ID']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X2 = df2.iloc[:,:-1]
y2 = df2.iloc[:,-1]

In [ ]:
df2

In [ ]:
X2
y2

In [ ]:
df2.shape

(614, 13)

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2,y2,test_size=0.3, random_state=0, stratify=y)

In [ ]:
X_train2.shape

(429, 11)

In [ ]:
X_test2.shape

(185, 11)

In [ ]:
y_train2.shape

(429,)

In [ ]:
y_test2.shape

(185,)

# label encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
class_le = LabelEncoder()
class_le.fit(y_train2)
y_train_transformed = class_le.transform(y_train2.values)
y_test_transformed = class_le.transform(y_test2.values)

In [ ]:
X_train2

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
11,Male,Yes,2,Graduate,No,2500,1840.0,109.0,360.0,1.0,Urban
381,Male,No,0,Graduate,No,5941,4232.0,296.0,360.0,1.0,Semiurban
259,Male,Yes,3+,Not Graduate,No,4931,0.0,128.0,360.0,1.0,Semiurban
601,Male,Yes,0,Not Graduate,No,2894,2792.0,155.0,360.0,1.0,Rural
60,Male,Yes,0,Graduate,No,2500,3796.0,120.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
413,Male,Yes,0,Not Graduate,No,2253,2033.0,110.0,360.0,1.0,Rural
481,Male,Yes,3+,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Rural
564,Male,Yes,2,Graduate,No,8799,0.0,258.0,360.0,0.0,Urban
355,Female,No,0,Graduate,No,3813,0.0,116.0,180.0,1.0,Urban
497,Male,Yes,0,Graduate,No,4625,2857.0,111.0,12.0,1.0,Urban

In [ ]:
X_train2.Gender #X_train['Gender'] 컬럼값만 따로 가져오는 방법 // values[0]은 행을 가져왔음.

11       Male
381      Male
259      Male
601      Male
60       Male
        ...
413      Male
481      Male
564      Male
355    Female
497      Male
Name: Gender, Length: 429, dtype: object

In [ ]:
class_le1 = LabelEncoder() #labelEncoder 가 다를 때 명시를 해주는 것이 좋다. 위에꺼 덧방되니까
class_le1.fit(X_train2['Gender'])
X_train_gender_transformed = class_le1.transform(X_train2['Gender'])
X_test_gender_transformed = class_le1.transform(X_test2['Gender'])

In [ ]:
X_train_gender_transformed

In [ ]:
class_le2 = LabelEncoder()
class_le2.fit(X_train2.Education)
X_train_education_transformed = class_le2.transform(X_train2.Education)
X_test_education_transformed = class_le2.transform(X_train2.Education)

In [ ]:
X_train_education_transformed

## 내용정리
- [1] null 값 확인
  > 행 / 열 / 널 값 갯수 열별로 확인 / 널 값이 존재하는 컬럼 별로 하나씩 확인
   :: 카테고리, numerical, 카테고리가 몇 개나 나오는지, 데이터 타입이 무엇인지
  > 널값을 어떻게 채울지 결정해서 채운다. -> fillna 

- [2] X,y split 진행
  > y = 라벨 인코더로 , X = 라벨인코더 or mapping or get_dummies
   ** train , test 를 같은 인코더로 바꿔야 함. 
    Yes = 1 No = 0 이어야 하는데 종종 반대로도 되기도 한다고 함

  > category value -> 숫자로 변환 

- [3] scaler 진행

## label encoder / mapping / one - hot encoding
 - 1. Gender / Married - categorical value 숫자로 바꿔주기)

- Gender만

In [ ]:
df_dummies_Gender = pd.get_dummies(df['Gender'], drop_first = True)
df_dummies_Gender.head()

   Male
0     1
1     1
2     1
3     1
4     1

In [ ]:
df = pd.concat([df, df_dummies_Gender], axis=1)
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Male
0,No,0,Graduate,No,5849,0.0,146.0,360.0,1.0,Urban,Y,1
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,1
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1

In [ ]:
df = df.drop(columns = ['Male'])
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,No,0,Graduate,No,5849,0.0,146.0,360.0,1.0,Urban,Y
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

- 전체 Nominal features에 대해 적용

In [ ]:
# get_dummies Gender는 위에서 했기 때문에 빼고 한다
nominal_features = ['Married', 'Education', 'Self_Employed', 'Property_Area']

In [ ]:
df[nominal_features]

    Married     Education Self_Employed Property_Area
0        No      Graduate            No         Urban
1       Yes      Graduate            No         Rural
2       Yes      Graduate           Yes         Urban
3       Yes  Not Graduate            No         Urban
4        No      Graduate            No         Urban
..      ...           ...           ...           ...
609      No      Graduate            No         Rural
610     Yes      Graduate            No         Rural
611     Yes      Graduate            No         Urban
612     Yes      Graduate            No         Urban
613      No      Graduate           Yes     Semiurban

[614 rows x 4 columns]

In [ ]:
df_dummies = pd.get_dummies(df[nominal_features],drop_first = True)
df_dummies.head()

,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,0,0,0,1
1,1,0,0,0,0
2,1,0,1,0,1
3,1,1,0,0,1
4,0,0,0,0,1

In [ ]:
df = pd.concat([df, df_dummies], axis=1)

In [ ]:
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,No,0,Graduate,No,5849,0.0,146.0,360.0,1.0,Urban,Y,1,0,0,0,0,1
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,1,1,0,0,0,0
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1,1,0,1,0,1
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,1,1,0,0,1
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1,0,0,0,0,1

In [ ]:
df = df.drop(columns = nominal_features)

In [ ]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,146.0,360.0,1.0,Y,1,0,0,0,0,1
1,1,4583,1508.0,128.0,360.0,1.0,N,1,1,0,0,0,0
2,0,3000,0.0,66.0,360.0,1.0,Y,1,1,0,1,0,1
3,0,2583,2358.0,120.0,360.0,1.0,Y,1,1,1,0,0,1
4,0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,0,1

In [ ]:
# Dependents - mapping
df.Dependents.value_counts()

0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [ ]:
dependents_mapping = {'0':1, '1':2, '2':3, '3+':4}

In [ ]:
df['Dependents'] = df['Dependents'].map(dependents_mapping) #이건 원본을 바꾸는게 아닌 리턴을 해주는 값 그래서 대입을 시켜줘야함.

In [ ]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,1,5849,0.0,146.0,360.0,1.0,Y,1,0,0,0,0,1
1,2,4583,1508.0,128.0,360.0,1.0,N,1,1,0,0,0,0
2,1,3000,0.0,66.0,360.0,1.0,Y,1,1,0,1,0,1
3,1,2583,2358.0,120.0,360.0,1.0,Y,1,1,1,0,0,1
4,1,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,0,1

In [ ]:
Loan_Status_mapping = {'Y':1, 'N':0}

In [ ]:
df['Loan_Status'] = df['Loan_Status'].map(Loan_Status_mapping)

In [ ]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,1,5849,0.0,146.0,360.0,1.0,1,1,0,0,0,0,1
1,2,4583,1508.0,128.0,360.0,1.0,0,1,1,0,0,0,0
2,1,3000,0.0,66.0,360.0,1.0,1,1,1,0,1,0,1
3,1,2583,2358.0,120.0,360.0,1.0,1,1,1,1,0,0,1
4,1,6000,0.0,141.0,360.0,1.0,1,1,0,0,0,0,1

In [ ]:
y = df.iloc[:,6] # df['Loan_Status'] 도 된다. 
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [ ]:
X = df.drop(columns = ['Loan_Status'])
X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,1,5849,0.0,146.0,360.0,1.0,1,0,0,0,0,1
1,2,4583,1508.0,128.0,360.0,1.0,1,1,0,0,0,0
2,1,3000,0.0,66.0,360.0,1.0,1,1,0,1,0,1
3,1,2583,2358.0,120.0,360.0,1.0,1,1,1,0,0,1
4,1,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,2900,0.0,71.0,360.0,1.0,0,0,0,0,0,0
610,4,4106,0.0,40.0,180.0,1.0,1,1,0,0,0,0
611,2,8072,240.0,253.0,360.0,1.0,1,1,0,0,0,1
612,3,7583,0.0,187.0,360.0,1.0,1,1,0,0,0,1
613,1,4583,0.0,133.0,360.0,0.0,0,0,0,1,1,0

In [ ]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: Loan_Status, dtype: int64

In [ ]:



#StandardScaler

In [ ]:
from sklearn.model_selection import train_test_split
# X,y > train test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0, stratify=y)

In [ ]:
# MinMaxScaler
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
mms = MinMaxScaler()

In [ ]:
mms.fit(X_train) #학습하는 것

MinMaxScaler()

In [ ]:
X_train_mms = mms.transform(X_train) #학습한 것을 트랜스폼 하는것
X_test_mms = mms.transform(X_test)

In [ ]:
standard = StandardScaler()
standard.fit(X_train)
X_train_standard = standard.transform(X_train)
X_test_standard = standard.transform(X_test)

# 전처리 이후 학습, 예측
- KNN 알고리즘 사용

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5, metric='minkowski' ,p=2)

In [ ]:
neigh.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = neigh.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.6324324324324324

In [ ]:
neigh1 = KNeighborsClassifier(n_neighbors=5, metric='minkowski' ,p=2)

In [ ]:
neigh1.fit(X_train_mms, y_train)

KNeighborsClassifier()

In [ ]:
y_pred_mms = neigh1.predict(X_test_mms)

In [ ]:
accuracy_score(y_test, y_pred_mms)

0.772972972972973

In [ ]:
neigh2 = KNeighborsClassifier(n_neighbors=5, metric='minkowski' ,p=2)
neigh2.fit(X_train_standard, y_train)

KNeighborsClassifier()

In [ ]:
y_pred_standard = neigh2.predict(X_test_standard)

In [ ]:
accuracy_score(y_test, y_pred_standard)

0.8054054054054054

: numerical value 들을 해주는게 전체 데이터를 해주는 것보다 좀 더 정확하다

In [ ]:
numerical_features = ['ApplicantIncome', 'CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5, metric='minkowski' ,p=2)
knn.fit(X_train[numerical_features],y_train)

KNeighborsClassifier()

In [ ]:
y_pred_numerical = knn.predict(X_test[numerical_features])

In [ ]:
accuracy_score(y_test, y_pred_numerical)

0.6324324324324324

In [ ]:
std = StandardScaler()
std.fit(X_train[numerical_features])
X_train_numeric_std = std.transform(X_train[numerical_features])
X_test_numeric_std = std.transform(X_test[numerical_features])

In [ ]:
knn2 = KNeighborsClassifier(n_neighbors=5, metric='minkowski' ,p=2)
knn2.fit(X_train_numeric_std, y_train)

KNeighborsClassifier()

In [ ]:
y_pred_numeric_std = knn2.predict(X_test_numeric_std)
accuracy_score(y_test, y_pred_numeric_std)

0.7891891891891892